version = 0.1
default-task='start'

[[task]]
name = 'ghp'
run = 'bundle exec jekyll serve --incremental'

[[task]]
name = 'start'
deps=['test', 'stats']
serial = true

[[task]]
name = 'test'
run = 'node --loader ts-node/esm server-tests/index.ts'

[[task]]
name = 'stats'
run = 'python stats/'